.navbar .navbar-nav, .navbar .navbar-header{
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar{
	text-align: center;
	border-radius: 0;
}

.delete{
	color: red;
}

.delete:hover{
	cursor: pointer;
}

#totalOrders{
	font-weight: bold;
	font-size: 120%;
}