<!DOCTYPE html>
<html ng-app>
	<head>
		<title>Iterating Over Data</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	</head>
	<body>

		<div ng-init="people=[{name: 'John', city: 'Surabaya'}, {name: 'Dan', city: 'Jakarta'}]" class="container">
			<h3>Iterating through data with ng-repeat</h3>
			<ul>
				With list:
				<li ng-repeat="person in people">{{ person.name }} from {{ person.city }}</li>
			</ul>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>City</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="person in people">
						<td>{{ person.name }}</td>
						<td>{{ person.city }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<script type="text/javascript" src="../angular.js"></script>
	</body>
</html>